<div class="container">
    <div class="intro">
        <div class="name">Hi, I'm Kabir</div>
        <div class="intro-subtext">I am Full Stack Web Developer based out of Delhi. I am a recent graduate, holding a
            Bachelor of technology degree. Currently working at Biz2Credit.</div>
    </div>
    <div class="img-container">
        <img class="dp" src="../../../assets/dp.png" alt="">
    </div>
</div>
<div class="find-me">
    <div class="social-media-heading">You can find me at</div>
    <ul class="socials">
        <li class="list-item linkedin">
            <a href="https://www.linkedin.com/in/kabir-p-5b6aa7212/" target="_blank">
                <i class="icon fa-brands fa-linkedin" style="color: #0A66C2;"></i>
            </a>
            <a class="profile-name" href="https://www.linkedin.com/in/kabir-p-5b6aa7212/" target="_blank">
                Kabir P
            </a>
        </li>
        <li class="list-item github">
            <a href="https://github.com/K-Kabir" target="_blank">
                <i class="icon fa-brands fa-github"  style="color: #E6EDF3;"></i>
            </a>
            <a class="profile-name" href="https://github.com/K-Kabir" target="_blank">
                K-Kabir
            </a>
        </li>
        <li class="list-item email">
            <a href="mailto:kabir@biz2credit.com" target="_blank">
                <i class="icon fa-solid fa-envelope" style="color: #1180E1;"></i>
            </a>
            <a class="profile-name" href="mailto:kabir@biz2credit.com" target="_blank">
                Kabir
            </a>
        </li>
        <li class="list-item spotify">
            <a href="https://open.spotify.com/user/6jray5ez8ox2ifh23yodkvpd8" target="_blank">
                <i class="icon fa-brands fa-spotify"  style="color: #25D865;"></i>
            </a>
            <a class="profile-name" href="https://open.spotify.com/user/6jray5ez8ox2ifh23yodkvpd8" target="_blank">
                Kbira
            </a>
        </li>
    </ul>
</div>