.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

#navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

#sidebar{
    margin-left: 3vw;
    display: block;
    width: 15vw;
}

#footer{
    min-height: 100vh;
    position: relative;
}