<div class="container">
    <div class="development">
        <span class="dev-item">
            <i class="dev-icon fa-brands fa-square-js" style="color: #F7E025;"></i>
            <span class="dev-name">JavaScript</span>
        </span>
        <span class="dev-item">
            <i class="dev-icon fa-brands fa-react" style="color: #149ECA;"></i>
            <span class="dev-name">React</span>
        </span>
        <span class="dev-item">
            <i class="dev-icon fa-brands fa-angular" style="color: #C3002F;"></i>
            <span class="dev-name">Angular</span>
        </span>
        <span class="dev-item">
            <i class="dev-icon fa-brands fa-bootstrap" style="color: #8019FA;"></i>
            <span class="dev-name">Bootstrap</span>
        </span>
        <span class="dev-item">
           <i class="dev-icon fa-brands fa-node" style="color: #5BAC47;"></i>
            <span class="dev-name">Node.js</span>
        </span>
        <span class="dev-item">
            <i class="dev-icon fa-brands fa-android" style="color: #5BAC47;"></i>
            <span class="dev-name">Android</span>
        </span>
    </div>
    <div class="soft">

    </div>
    <div class="sports">

    </div>
</div>